<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace fbalbum=Skar\Skfbalbums\ViewHelpers}
	<f:if condition="{photolistHideAlbumTitle}==0">
		<f:then>
			<h1>{album.effectiveName}</h1>
		</f:then>
	</f:if>
	<f:if condition="{photolistHideAlbumDescription}==0">
		<f:then>
			<p>{album.effectiveDescription}</p>
		</f:then>
	</f:if>


	<f:for each="{album.photos}" as="photo">

		<div style="display:inline-block">
			<a href="{fbalbum:fbImage(photo: photo, size: 'large', useFbRedirectUrls: useFbRedirectUrls)}" target="_blank">
				<img src="{fbalbum:fbImage(photo: photo, size: 'small', useFbRedirectUrls: useFbRedirectUrls)}" alt="" />
				<f:comment><br>{f:if(condition: photolistHideCaption, then: '', else: photo.effectiveCaption)}</f:comment>
			</a>
		</div>
	</f:for>
</html>