<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace fbalbum=Skar\Skfbalbums\ViewHelpers}



<div class="tx-skfbalbums masonrywrapper">
	<div class="tx-skfbalbums cssmasonryalbumlist masonrycontainer" >
		<f:for each="{albums}" as="album">
			<div class="tx-skfbalbums cssmasonryalbumlist masonryitem">
				<f:link.action action="show" arguments="{album : album}">
					<img src="{fbalbum:fbImage(photo: album.coverPhoto, size: 'medium', useFbRedirectUrls: useFbRedirectUrls)}" alt="" />
				</f:link.action>
				{f:if(condition: albumlistHideTitle, then: '', else: album.effectiveName)}


				<div class="cssmasonryalbumlist hovercontainer {f:if(condition: albumlistHideTitle, then: 'titlehidden', else: '')} {f:if(condition: albumlistHideDescription, then: 'descrhidden', else: '')} ">
					&nbsp;
				</div>
				<div class="cssmasonryalbumlist descriptioncontainer {f:if(condition: albumlistHideTitle, then: 'titlehidden', else: '')} {f:if(condition: albumlistHideDescription, then: 'descrhidden', else: '')}">
					<p>
						<f:link.action action="show" arguments="{album : album}">
							{f:if(condition: albumlistHideTitle, then: '', else: album.effectiveName)}
						</f:link.action>
					</p>
					<hr>
					<p>
						<f:link.action action="show" arguments="{album : album}">
							{f:if(condition: albumlistHideDescription, then: '', else: album.effectiveDescription)}
						</f:link.action>
					</p>
				</div>
				
			</div>
		</f:for>
	</div>

</div>


</html>



