<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace fbalbum=Skar\Skfbalbums\ViewHelpers}

	<ul class="tx-skfbalbums defaultalbumlist">
		<f:for each="{albums}" as="album">
			<li class="tx-skfbalbums defaultalbumlistalbum">
				<h3>
					<f:link.action action="show" arguments="{album : album}">
						{f:if(condition: albumlistHideTitle, then: '', else: album.effectiveName)}
					</f:link.action>
				</h3>
				<f:link.action action="show" arguments="{album : album}">
					<img src="{fbalbum:fbImage(photo: album.coverPhoto, size: 'medium', useFbRedirectUrls: useFbRedirectUrls)}" alt="" />
				</f:link.action>
				<p>
					{f:if(condition: albumlistHideDescription, then: '', else: album.effectiveDescription)}
				</p>
				<hr>
			</li>
		</f:for>
	</ul>
</html>
