<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="main">
	<f:flashMessages />

	<f:render partial="Album/Show/{photolayout}" arguments="{album:album, cobjUid:cobjUid, useFbRedirectUrls:useFbRedirectUrls, uniteOptions: uniteOptions, photolistHideCaption:photolistHideCaption, photolistHideAlbumTitle:photolistHideAlbumTitle, photolistHideAlbumDescription:photolistHideAlbumDescription}" />

<f:if condition="{showBacklink}">
	<f:then>
		<div>
			<f:link.action action="list"><f:translate key="tx_skfbalbums_albumlistlinktext" /></f:link.action><br />
		</div>
	</f:then>
</f:if>



</f:section>
</html>