
<f:layout name="Default" />


<f:section name="content">
<h1><f:translate key="LLL:EXT:skfbalbums/Resources/Private/Language/locallang_mod1.xml:syncresultheading" /> {token.name}</h1>
<f:flashMessages />

<p><f:translate key="LLL:EXT:skfbalbums/Resources/Private/Language/locallang_mod1.xml:syncresultimported" />: {albumsImported}
<p><f:translate key="LLL:EXT:skfbalbums/Resources/Private/Language/locallang_mod1.xml:syncresultupdated" />: {albumsUpdated}
<p><f:translate key="LLL:EXT:skfbalbums/Resources/Private/Language/locallang_mod1.xml:syncresulthidden" />: {albumsHidden}

</f:section>
